language: python
python:
  - "2.7"
virtualenv:
  system_site_packages: true
install:
  - pip install --upgrade distribute
  - pip install -r securedrop/source-requirements.txt
  - pip install -r securedrop/document-requirements.txt
  - pip install -r securedrop/test-requirements.txt
script:
  - ./setup_dev.sh -u
